.card_container {
	margin: 15px;
	margin-right: 10px;
	margin-top: 20px;
}

.album_title {
   width: 150px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin: 10px
}

.scroll_arrow {
	cursor: pointer;
	font-size: 26px
}

.cards_scroll {
	overflow: auto;
	width: calc(100vw - 45px)
}

.carousel {
	  position: relative;
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	  width: 100%;
}

.carousel_button {
	  position: absolute;
	  width: 20px;  height: 20px;
	  padding: 6px;
	  border-radius: 100%;
	  font-size: 20px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: hsla(0, 0%, 100%, 0);
	  /*color: hsla(0, 0%, 0%, 0);*/
	  color: #000;
	  top: 50%;
	  transform: translateY(-50%);
	  cursor: pointer;
	  z-index: 10000;
	  font-variant: small-caps;
}

.carousel-buttons:hover {
  background-color: hsla(25, 50%, 75%, 1)!important;
  color: #000!important;
}

.carousel:hover.carousel-buttons {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(0, 0%, 0%, 1);
}

.carousel-button-left {
  left: 5px;
}
.carousel-button-right {
  right: 5px;
}